<section class="hero-wrap style3">
    <div class="hero">
        <div class="hero-slide">
          <mdb-carousel>
            <mdb-carousel-item class="bg-slider-img">
              <img
              style='   width: 100%; object-fit: cover;' 
                src="../../../assets/images/bg/home-page-1.png"
                class="img-slider d-block w-100"
                alt="..."
              />
            </mdb-carousel-item> 
            <mdb-carousel-item>
              <img
              style='   width: 100%; object-fit: cover;' 
                src="../../../assets/images/bg/home-page-2.png"
                class="img-slider d-block w-100"
                alt="..."
              />
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img
              style='   width: 100%; object-fit: cover;' 
                src="../../../assets/images/bg/home-page-3.png"
                class="img-slider d-block w-100"
                alt="..."
              />
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
        <div class="container">
           <div class="row align-items-center">
            <div class="col-lg-9 col-md-8 col-sm-10">
               <div class="hero-content">
                  <h4>A life is full of opportunities.</h4>
              <h1>Unique investment options with the best <span>business<img src="../../../assets/images/hero-shape-2.png" alt="Image"></span> outcomes</h1>
              <p style="font-size: 16px;">We are a dynamic and innovative investment company that offers <br/> a range of opportunities for
               everyone.</p>
             
              </div>
              </div>
              <!-- <div class="col-lg-9 text-center">
                 <h1 class="heading" data-aos="fade-up">Find a Perfect Dream House</h1>
                 <form action="#" class="narrow-w form-search d-flex align-items-stretch mb-5" data-aos="fade-up" data-aos-delay="200">
                    <input type="text" class="form-control px-4" placeholder="Your ZIP code or City. e.g. New York">
                    <button type="submit" class="btn btn-primary">Search</button>
                 </form>
                 <p class="lead narrow-w mb-5" data-aos="fade-up" data-aos-delay="300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam enim pariatur similique debitis vel nisi qui reprehenderit totam? Quod maiores.</p>
                 <p data-aos="fade-up" data-aos-delay="400"><a href="#" class="text-white has-arrow">View Properties <span class="icon-keyboard_backspace"></span></a></p>
              </div> -->
           </div>
        </div>
     </div>
</section>
<section class="features-1">
  <div class="container">
     <div class="row justify-content-between">
        <!-- <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
           <div class="box-feature">
              <span class="flaticon-house">
                <!-- <img src="../../../assets/images/icons/1.png" alt="" width="75">
                <i class="fa-solid fa-house"></i>
              </span>
              
              <h3 class="pb-2">New Properties</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.</p>
              <a href="#">Read More</a>
           </div>
        </div>
        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
           <div class="box-feature">
              <span class="flaticon-house-3">
                <!-- <img src="../../../assets/images/icons/2.png" alt="" width="75"> 
                <i class="fa-solid fa-user"></i>
              </span>
              <h3 class="pb-2">Contact Agent</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste.</p>
              <a href="#">Read More</a>
           </div>
        </div> -->
        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="500">
           <div class="box-feature">
              <span class="flaticon-building">
                <img src="../../../assets/images/icons/house.png" alt="" width="40">
                <!-- <i class="fa-solid fa-building"></i> -->
              </span>
              <h3 class="pb-2">Property Fund</h3>
              <p>We offer a diverse range of investment opportunities for all types of investors. Beyond investment, we
               allow you to diversify your portfolios and tap into emerging markets and technologies. With
               thorough due diligence, Wellkins Capital provides investors with the tools and resources to grow their
               wealth and maximize returns.</p>
              
           </div>
        </div>
        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="600">
           <div class="box-feature">
              <span class="flaticon-house-1">
               <img src="../../../assets/images/icons/cash-payment.png" alt="" width="40">
                <!-- <i class="fa-solid fa-house-user"></i> -->
              </span>
              <h3 class="pb-2">Mortgage Fund</h3>
              <p>We provide flexible options tailored to your unique needs. Wellkins Capital understands the importance
               of accessible and convenient lending. With competetive interest rates, transparent terms, and a fast
               application process, borrowers can rely on Wellkins Capital to provide the financial support they need to unlock
               their dreams.</p>
              
           </div>
        </div>
     </div>
  </div>
</section>
<app-about-as></app-about-as>