<section class="section pb-0">
    <div class="section-4">
        <div class="container">
            <div class="row row justify-content-center">
                <div class="col-xl-8">
                    <div class="section-title style1 text-center mb-5">
                        <h2 class="mb-3">Why <span class="theme-color"> Choose Us?</span></h2>
                        <p>Are you searching for the next big investment opportunity? Look no further than Wellkins,
                            a company that is poised to revolutionize the investment landscape </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between mb-5">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div [ngbNavOutlet]="nav" class="custom-tab-content"></div>
                  </div>
                <div class="col-md-4">
                    <div class="custom-tab-content">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active1"  type="pills">
                            <li [ngbNavItem]="1">
                                <a  ngbNavLink>
                                    <div class="d-flex feature-h">
                                        <span class="wrap-icon me-3">
                                            <span class="icon-home2">
                                                <!-- <i class="fa-solid fa-house"></i> -->
                                                <img src="../../../assets/images/icons/POTENSIAL.png" alt="potential" width="50">
                                            </span>
                                        </span>
                                        <div class="feature-text">
                                            <h3 class="heading">Untapped Potential</h3>
                                            <p class="text-black-50">Unlock hidden investment opportunities and capitalize on the growth
                                                of emerging enterprises.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                
                                <ng-template ngbNavContent>
                                    <div class="tab-content property-img-content">
                                        <div class="img-about dots">
                                            <img src="../../../assets/images/about/UNTAPPED-POTENTIAL.png" alt="Image" class="img-fluid">
                                        </div>
                                    </div>
                                  </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a  ngbNavLink>
                                    <div class="d-flex feature-h">
                                        <span class="wrap-icon me-3">
                                            <span class="icon-person">
                                                <!-- <i class="fa-solid fa-user"></i> -->
                                                <img src="../../../assets/images/icons/new.png" alt="potential" width="50">
                                            </span>
                                        </span>
                                        <div class="feature-text">
                                            <h3 class="heading">Innovative Approach</h3>
                                            <p class="text-black-50">Embrace cutting-edge technologies and emerging markets for
                                                exceptional investment returns.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                
                                <ng-template ngbNavContent>
                                    <div class="tab-content property-img-content">
                                        <div class="img-about dots">
                                            <img src="../../../assets/images/about/INNOVATIVE APPROACH.png" alt="Image" class="img-fluid">
                                        </div>
                                    </div>
                                  </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a  ngbNavLink>
                                    <div class="d-flex feature-h">
                                        <span class="wrap-icon me-3">
                                            <span class="icon-security">
                                                <!-- <i class="fa-solid fa-shield-halved"></i> -->
                                                <img src="../../../assets/images/icons/atom.png" alt="potential" width="50">
                                            </span>
                                        </span>
                                        <div class="feature-text">
                                            <h3 class="heading">Dynamic and Agile</h3>
                                            <p class="text-black-50">Adapt quickly to market changes, seize lucrative opportunities, and
                                                maximize
                                                investor returns.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                
                                <ng-template ngbNavContent>
                                    <div class="tab-content property-img-content">
                                        <div class="img-about dots">
                                            <img src="../../../assets/images/about/DYNAMIC-AND-AGILE.png" alt="Image" class="img-fluid">
                                        </div>
                                    </div>
                                  </ng-template>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="property-wrap mb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title style1 text-center mb-40">
                    <h2>Current <span class="theme-color">Projects</span></h2>
                    <p>Are you ready to explore exciting investment ventures that have the potential to deliver
                        exceptional
                        returns? We curate a diverse portfolio of high-potential opportunities across various
                        industries. </p>
                </div>
            </div>
        </div>
        <div class="property-slider-wrap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="200">
                        <div class="property-card style3">
                            <div class="property-header">
                                <span class="ribbon ribbon--red property-ribbon status-upcoming" >Trending</span>
                            </div>
                            <div class="property-img border-radius-0 himg">
                                <img src="../../../assets/images/property/Gallery.PNG" alt="Image">
                                <div class="onhover-detail">
                                    <a (click)="onpropertyClick('100')">View Details</a>
                                </div>
                            </div>
                            <div class="property-info p-0">
                                <h3 class="color-heading mb-0"><a>Land Development - WILTON NSW</a></h3>
                                <ul class="list-style mat-list">
                                <li>Term: <span class="text-end">3 Years</span></li>
                                    <li>Total Value :<span class="text-end">$222,000,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="200">
                        <div class="property-card style3">
                            <div class="property-header">
                                <span class="ribbon ribbon--darkblue property-ribbon status-upcoming">Upcoming</span>
                            </div>
                            <div class="property-img border-radius-0 himg">
                                <img src="../../../assets/images/chadstone.jpg" alt="Image">
                                <div class="onhover-detail">
                                    <a (click)="onpropertyClick('91')">View Details</a>
                                </div>
                            </div>
                            
                            <div class="property-info p-0">
                                <h3 class="color-heading mb-0"><a>Homemaker Centre - CHADSTONE VIC</a></h3>
                                    <ul class="list-style mat-list">
                                        <li>Term: <span class="text-end">5 Years</span></li>
                                        <li>Total Value :<span class="text-end">$88,000,000</span></li>
                                    </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="200">
                        <div class="property-card style3">
                            <div class="property-header">
                                <span class="ribbon ribbon--darkblue property-ribbon status-upcoming">Upcoming</span>
                            </div>
                            <div class="property-img border-radius-0 himg">
                                <img src="../../../assets/images/cawdor.jpg" alt="Image">
                                <div class="onhover-detail">
                                    <a (click)="onpropertyClick('92')">View Details</a>
                                </div>
                            </div>
                            <div class="property-info p-0">
                                <h3 class="color-heading mb-0"><a>Land Banking - CAWDOR NSW</a></h3>
                                <ul class="list-style mat-list">
                                    <li>Term: <span class="text-end">5 Years</span></li>
                                    <li>Total Value :<span class="text-end">$47,000,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mb-40">
    <div class="video-wrap video-bg-1 style2 bg-f ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="video-content">
                        <div class="content-title">
                            <h2>Unlock the Potential, Power Your Future with <span class="theme-color">Wellkins Capital</span></h2>
                            <div class="py-3">
                                <a (click)="onAppClick()"class="me-3" ><img src="assets/images/gplay.png" alt="google play"
                                        width="170"></a>
                                <a  (click)="onAppClick()" class="me-3" ><img src="assets/images/appstore.png" alt="google play"
                                        width="150"></a>
                                        <div style="height: 50px;"></div>
                                        <div *ngIf="showWarning"><p style="color: red; font-size: 25px;"> *Coming Soon</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-40">
    <div class="add-listing-wrap">
        <div class="row row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title style1 text-center mb-5">
                    <h2 class="mb-3">Our <span class="theme-color">Latest News</span></h2>
                    <p>We strive to empower investors with valuable information, actionable insights, and expert
                        analysis to
                        navigate the ever-evolving landscape of investment opportunities. </p>
                </div>
            </div>
        </div>
        <div class="property-slider-wrap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="200">
                        <div class="property-card style3">
                            <div >
                                <img style=' width: 100%; object-fit: cover' src="../../../assets/images/images.jpeg" alt="Image">
                            </div>
                            <div class="property-info h-info-content">
                                <div class="property-status-wrap">
                                    <span class="property-state"><i class="flaticon-home"></i>June 18, 2023</span>
                                    
                                </div>
                                <h3><a href="/News-Insights">Navigating the Booming Australian Investment Landscape with Wellkins Capital</a></h3>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="300">
                        <div class="property-card style3">
                            <div >
                                <img style=' width: 100%; object-fit: cover' src="../../../assets/images/invest.jpeg" alt="Image">
                            </div>
                            <div class="property-info h-info-content">
                                <div class="property-status-wrap">
                                    <span class="property-state"><i class="flaticon-home"></i>June 18, 2023</span>
                                    
                                </div>
                                <h3><a href="/News-Insights">Real Estate Crowdfunding with Wellkins Capital  as a game-changer                                      </a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                        data-aos-delay="400">
                        <div class="property-card style3">
                            <div >
                                <img style=' width: 100%; object-fit: cover' src="../../../assets/images/land.jpeg" alt="Image">
                            </div>
                            <div class="property-info h-info-content">
                                <div class="property-status-wrap">
                                    <span class="property-state"><i class="flaticon-home"></i>June 27, 2023</span>
                                    
                                </div>
                                <h3><a href="/News-Insights">Recognize the potential of real estate crowdfunding with Wellkins Capital</a></h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>
